# api key del servicio externo a usar
API_KEY=colocar_tu_clave_aqui

# credenciales base de datos postgres_auth
POSTGRES_AUTH_DB: colocar_nombre_db
POSTGRES_AUTH_USER: colocar_username_db
POSTGRES_AUTH_PASSWORD: colocar_password_db

# credenciales base de datos postgres_notification
POSTGRES_NOTIFICATIONS_DB: colocar_nombre_db
POSTGRES_NOTIFICATIONS_USER: colocar_username_db
POSTGRES_NOTIFICATIONS_PASSWORD: colocar_password_db

# valores para JWT
# jwt secret: creado desde bash con: openssl rand -base64 32
# jwt expiration: tiempo en milisegundos (Ejem: 1 hora = 3600000 ms)
JWT_SECRET: aqui_colocar_la_clave_secreta_puede_crearse_con_openssl_desde_bash
JWT_EXPIRATION: 3600000