# api key del servicio a usar
RAPIDAPI_KEY=tu_clave

# credenciales base de datos postgres_auth
POSTGRES_AUTH_DB: nombre_db
POSTGRES_AUTH_USER: username_db
POSTGRES_AUTH_PASSWORD: password_db

# credenciales base de datos postgres_notification
POSTGRES_NOTIFICATIONS_DB: nombre_db
POSTGRES_NOTIFICATIONS_USER: username_db
POSTGRES_NOTIFICATIONS_PASSWORD: password_db

# varibles para JWT
# jwt secret: creado desde bash con: openssl rand -base64 32
# jwt expiration: 1 hora
JWT_SECRET: aqui_esta_la_clave_secreta_puede_crearse_con_openssl_desde_bash
JWT_EXPIRATION: 3600000